/*
  .bb-axis .domain - X / Y axis line
  .bb-axis .tick line - ticks
  .bb-axis - [fill] text
  .bb-legend-item text - [fill] text underneath the chart
  .bb-xgrid-focus - line which shows on chart on hover
*/

/* dark theme config */
html.dark .bb-legend-item text {
  fill: #d1d5db;
}

html.dark .bb-axis {
  fill: #d1d5db;
}

html.dark .bb-axis .domain {
  stroke: #334155;
}

html.dark .bb-axis .tick line {
  stroke: #334155;
}

html.dark .bb-xgrid-focus {
  /* slate-600 */
  stroke: #475569;
}

/* light theme config */
html.light .bb-legend-item text {
  /* gray-800 */
  fill: #1f2937;
}

html.light .bb-axis {
  /* gray-700 */
  fill: #374151;
}

html.light .bb-axis .domain {
  /* slate-400 */
  stroke: #94a3b8;
}

html.light .bb-axis .tick line {
  /* slate-400 */
  stroke: #94a3b8;
}

html.light .bb-xgrid-focus {
  /* slate-400 */
  stroke: #94a3b8;
}

.bb-xgrid-focus {
  shape-rendering: geometricprecision;
}

.bb-axis {
  font-family:
    'Inter',
    'Cantarell',
    'Roboto',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Oxygen',
    'Ubuntu',
    sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.bb-line {
  stroke-width: 1.5;
}

.bb-bar {
  fill-opacity: 0.3;
  stroke-width: 1.5 !important;
}

.bb-target-unique .bb-bar {
  stroke: #2563eb !important;
}

.bb-target-results .bb-bar {
  stroke: #2563eb !important;
}

.bb-target-total .bb-bar {
  stroke: #d97706 !important;
}

.bb-target-sessionDuration .bb-bar {
  stroke: #c945ed !important;
}

.bb-target-bounce .bb-bar {
  stroke: #2ac4b3 !important;
}

.bb-target-viewsPerUnique .bb-bar {
  stroke: #f87171 !important;
}

.bb-target-dns .bb-bar {
  stroke: #ec4319 !important;
}

.bb-target-tls .bb-bar {
  stroke: #f27059 !important;
}

.bb-target-conn .bb-bar {
  stroke: #f7a265 !important;
}

.bb-target-response .bb-bar {
  stroke: #f5d376 !important;
}

.bb-target-render .bb-bar {
  stroke: #709775 !important;
}

.bb-target-dom-load .bb-bar {
  stroke: #a5e6ab !important;
}

.bb-target-ttfb .bb-bar {
  stroke: #00a8e8 !important;
}

.bb-target-frontend .bb-bar {
  stroke: #709775 !important;
}

.bb-target-network .bb-bar {
  stroke: #f7a265 !important;
}

.bb-target-backend .bb-bar {
  stroke: #00a8e8 !important;
}

.bb-target-p50 .bb-bar {
  stroke: #0ea5e9 !important;
}

.bb-target-p75 .bb-bar {
  stroke: #eab308 !important;
}

.bb-target-p95 .bb-bar {
  stroke: #ef4444 !important;
}

.bb-target-events .bb-bar {
  stroke: #2563eb !important;
}

.bb-target-dropoff .bb-bar {
  stroke: rgba(37, 99, 235, 0.4) !important;
}

.bb-target-Technical-Expences .bb-bar {
  stroke: #ec4319 !important;
}

.bb-target-Business-Expences .bb-bar {
  stroke: #f27059 !important;
}

.bb-target-MRR .bb-bar {
  stroke: #709775 !important;
}

@media (max-width: 640px) {
  .custom-space-x-style > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse))) !important;
  }
}
