<a href="mailto:{{email}}">{{email}}</a> has invited you to join the {{name}}
organisation with the role {{role}} on Swetrix.
<br />
You don't have a Swetrix account yet, but you can create one to accept the
invitation.
<br />
Click the button below to create your account and join the organisation.
<br />
<a href="{{url}}" target="_blank">Create account & accept invitation</a>
<br />
If you are having trouble with the button above, copy and paste the URL below
directly into your web browser:
<br />
{{url}}
