A Swetrix user wants to transfer the {{name}} project to your account.
<br />
If you accept, the project will move to your account. The current owner will
become an administrator. You can change project admins and viewers later in
project settings.
<br />
<a href="{{confirmUrl}}" target="_blank">Accept transfer</a> |
<a href="{{cancelUrl}}" target="_blank">Decline transfer</a> <br /><br />
To accept, copy and paste this URL into your browser:
<br />
{{confirmUrl}}
<br /><br />
To decline, copy and paste this URL into your browser:
<br />
{{cancelUrl}}
