Hi,<br /><br />

You created a Swetrix project, but your free trial hasn't started yet.<br /><br />

The trial lasts 14 days, starts after you choose a plan and add payment details,
and gives your account access to all Swetrix Cloud features. You won't be
charged today.<br /><br />

<a href="{{subscribeUrl}}" target="_blank">Start free trial</a><br /><br />

Included in the trial:<br />
<ul>
  <li>Cookieless web analytics</li>
  <li>Error tracking and session details</li>
  <li>Custom events, funnels, and goals</li>
  <li>Privacy-first reCAPTCHA alternative</li>
</ul>

Questions? Reply to this email and we'll help.<br /><br />

Andrii Romasiun<br />
Founder, Swetrix
