Hi,<br /><br />

Your Swetrix trial ends in about 48 hours. Since you cancelled, your
subscription will not start automatically.<br /><br />

When the trial ends, your dashboard will be locked. Your projects and data will
be kept, but you won't be able to view analytics until you subscribe to a
plan.<br /><br />

If you've changed your mind, you can
<a href="{{url}}" target="_blank">subscribe from your billing page</a> before
the trial ends to keep access.<br /><br />

Questions? Reply to this email and we'll help.<br /><br />

Andrii Romasiun<br />
Founder, Swetrix
