Hi,<br /><br />

Your Swetrix trial access ends tomorrow. Since you cancelled, your subscription
will not start automatically.<br /><br />

When the trial ends, your dashboard will be locked. Your projects and data will
be kept, but you won't be able to view analytics until you subscribe to a
plan.<br /><br />

If Swetrix is proving useful, you can
<a href="{{billingUrl}}" target="_blank">review billing</a> before the trial
ends to keep access.<br /><br />

Questions? Reply to this email and we'll help.<br /><br />

Andrii Romasiun<br />
Founder, Swetrix
