Hi, thanks for {{#ifEquals user.planCode "trial"}}trying
Swetrix{{/ifEquals}}{{#ifNotEquals user.planCode "trial"}}being a Swetrix
subscriber{{/ifNotEquals}}. <br /><br />
Your traffic has exceeded your subscription plan{{#if hitPercentageLimit}} by
more than {{percentageLimit}}% this month{{else}} for two months in a
row{{/if}}.
<br /><br />
Please upgrade within {{upgradePeriodDays}} days to keep dashboard access. If
you don't upgrade by then, your dashboard will be temporarily locked. We'll keep
collecting data and won't delete your existing data.
<br /><br />
{{#if hitPercentageLimit}} This month, you have used {{thisMonthUsage}} billable
events, more than {{percentageLimit}}% over your plan limit. {{else}} This
month, you have used {{thisMonthUsage}} billable events. Last month, you used
{{lastMonthUsage}} events. {{/if}} Billable events include pageviews, custom
events, and CAPTCHA events. You can see the full usage report on the
<a href="{{billingUrl}}" target="_blank">billing page</a>. <br /><br />
{{#ifEquals user.planCode "10m"}} Your usage is above our standard plans. Reply
to this email and we'll help you choose a plan for your traffic.
<br /><br />
{{/ifEquals}} {{#ifNotEquals user.planCode "10m"}} We recommend the
{{suggestedPlanLimit}} events per month plan. Your upgrade will be prorated
based on what you've already paid for your current plan.
<br /><br />
{{/ifNotEquals}} Reply to this email if you have questions or need help.
