Your free Swetrix trial ends tomorrow, we hope that you enjoyed using Swetrix and liked the experience of using a service that respects user privacy, does not annoy your users with cookie banners and keeps your website as fast as possible :)
<br/>
If you wish to continue using Swetrix and receiving all the needed analytics data easily, you'll need to <a href="{{url}}" target="_blank">upgrade</a> your account to one of our subscription plans.
<br/>
<br/>
Please reply back to this email in case you have any questions or need assistance.
