# compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# OS
.DS_Store

# Tests
packages/*/coverage
packages/*/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
.env.*
!.env.example
pnpm-lock.yaml
yarn.lock
*.mmdb
*.mmdb.gz

# Sentry Config File
.sentryclirc

# API
backend/.yarn/*
backend/.yarnrc.yml

# Frontend
web/build
web/public/build
crowdin.yml
.cache
web/vite.config.ts.timestamp*
web/.react-router/
web/unused_keys.txt

# Docs
docs/build
docs/.docusaurus
docs/.cache-loader
