body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.loader-head {
  background-color: #c6dafc;
  height: 4px;
  overflow: hidden;
  position: relative;
}

.loader-head .first,
.loader-head .second {
  background-color: #4f46e5;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
}

.loader-head .first {
  -webkit-animation: first 2s linear infinite;
  -moz-animation: first 2s linear infinite;
  animation: first 2s linear infinite;
}

.loader-head .second {
  -webkit-animation: second 2s linear infinite;
  -moz-animation: second 2s linear infinite;
  animation: second 2s linear infinite;
}

@keyframes first {
  0% {
    transform: translate(0) scaleX(0);
  }

  25% {
    transform: translate(0) scaleX(0.5);
  }

  50% {
    transform: translate(25%) scaleX(0.75);
  }

  75% {
    transform: translate(100%) scaleX(0);
  }

  100% {
    transform: translate(100%) scaleX(0);
  }
}

@keyframes second {
  0% {
    transform: translate(0) scaleX(0);
  }

  60% {
    transform: translate(0) scaleX(0);
  }

  80% {
    transform: translate(0) scaleX(0.6);
  }

  100% {
    transform: translate(100%) scaleX(0.1);
  }
}

html {
  font-family:
    'Inter',
    'Cantarell',
    'Roboto',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Oxygen',
    'Ubuntu',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

.arrows-handle {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: grab;
}

.arrows-handle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-color: #6366f1;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
  background-position: center;
  background-repeat: no-repeat;
  cursor: grab;
}

.arrows-handle::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background-color: #6366f1;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E');
  background-position: center;
  background-repeat: no-repeat;
  cursor: grab;
}

/* hover-always: visible on hover for devices that support it, 
   and always visible for devices that don't support hover */
@media (hover: hover) and (pointer: fine) {
  .hover-always-overflow {
    overflow: hidden;
  }
  
  .hover-always-overflow:hover {
    overflow: auto;
  }
}

@media not all and (hover: hover) and (pointer: fine) {
  .hover-always-overflow {
    overflow: auto;
  }
}
