/*
  .bb-axis .domain - X / Y axis line
  .bb-axis .tick line - ticks
  .bb-axis - [fill] text
  .bb-legend-item text - [fill] text underneath the chart
  .bb-xgrid-focus - line which shows on chart on hover
*/

/* dark theme config */
html.dark .bb-legend-item text {
  fill: var(--color-gray-300);
}

html.dark .bb-axis {
  fill: var(--color-gray-300);
}

html.dark .bb-axis .domain {
  stroke: var(--color-slate-700);
}

html.dark .bb-axis .tick line {
  stroke: var(--color-slate-700);
}

html.dark .bb-xgrid-focus {
  stroke: var(--color-slate-600);
}

/* light theme config */
html.light .bb-legend-item text {
  fill: var(--color-gray-800);
}

html.light .bb-axis {
  fill: var(--color-gray-700);
}

html.light .bb-axis .domain {
  stroke: var(--color-gray-300);
}

html.light .bb-axis .tick line {
  stroke: var(--color-gray-300);
}

html.light .bb-xgrid-focus {
  stroke: var(--color-gray-300);
}

.bb-xgrid-focus {
  shape-rendering: geometricprecision;
}

.bb-axis {
  font-family: var(--font-mono);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.bb-legend {
  font-family: var(--font-sans);
}

.bb-line {
  stroke-width: 1.5;
}

.bb-bar {
  fill-opacity: 0.3;
  stroke-width: 1.5 !important;
}

.bb-target-unique .bb-bar {
  stroke: var(--color-blue-600) !important;
}

.bb-target-results .bb-bar {
  stroke: var(--color-blue-600) !important;
}

.bb-target-total .bb-bar {
  stroke: var(--color-amber-600) !important;
}

.bb-target-sessionDuration .bb-bar {
  stroke: var(--color-fuchsia-500) !important;
}

.bb-target-bounce .bb-bar {
  stroke: var(--color-teal-400) !important;
}

.bb-target-viewsPerUnique .bb-bar {
  stroke: var(--color-red-400) !important;
}

.bb-target-dns .bb-bar {
  stroke: #ec4319 !important;
}

.bb-target-tls .bb-bar {
  stroke: #f27059 !important;
}

.bb-target-conn .bb-bar {
  stroke: #f7a265 !important;
}

.bb-target-response .bb-bar {
  stroke: #f5d376 !important;
}

.bb-target-render .bb-bar {
  stroke: #709775 !important;
}

.bb-target-dom-load .bb-bar {
  stroke: #a5e6ab !important;
}

.bb-target-ttfb .bb-bar {
  stroke: var(--color-sky-500) !important;
}

.bb-target-frontend .bb-bar {
  stroke: #709775 !important;
}

.bb-target-network .bb-bar {
  stroke: #f7a265 !important;
}

.bb-target-backend .bb-bar {
  stroke: var(--color-sky-500) !important;
}

.bb-target-p50 .bb-bar {
  stroke: #0ea5e9 !important;
}

.bb-target-p75 .bb-bar {
  stroke: #eab308 !important;
}

.bb-target-p95 .bb-bar {
  stroke: #ef4444 !important;
}

.bb-target-events .bb-bar {
  stroke: var(--color-blue-500) !important;
}

.bb-target-dropoff .bb-bar {
  stroke: rgba(37, 99, 235, 0.4) !important;
}

.bb-target-Technical-Expenses .bb-bar {
  stroke: #ec4319 !important;
}

.bb-target-Business-Expenses .bb-bar {
  stroke: #f27059 !important;
}

.bb-target-MRR .bb-bar {
  stroke: #709775 !important;
}

.bb-target-avgResponseTime .bb-bar {
  stroke: #709775 !important;
}

.bb-target-occurrences .bb-bar {
  stroke: var(--color-red-600) !important;
}

@media (max-width: 640px) {
  .custom-space-x-style > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0 !important;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse)) !important;
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse))) !important;
  }
}
