@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  /* Fonts */
  --font-sans: 'Geist', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Oxygen', 'Ubuntu',
    sans-serif;
  --font-mono: 'Geist Mono', ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono,
    DejaVu Sans Mono, Courier New, monospace;

  /* Colors */
  --color-gray-750: oklch(23.11% 0.0357 262.54); /* Converting #141d2e to OKLCH */

  /* Minimum Heights */
  --min-height-72: 18rem;
  --min-height-page: calc(100vh - 74px);
  --min-height-min-footer: calc(100vh - 148px);
}

/* Custom Animations */
@keyframes ping-op {
  0% {
    opacity: 0.75;
  }
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Custom Animation Classes */
@layer utilities {
  .animate-ping-slow {
    animation: ping-op 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }
}
