Hey!
<br/>
You have been invited to the project
<br/>
<a href="mailto:{{email}}">{{email}}</a> has invited you to the {{name}} website analytics dashboard with the role {{role}} on Swetrix.
<br/>
Click the button below to accept the invitation or ignore this email if you do not want to join the project.
<br/>
The invitation will expire in {{expiration}} hours.
<br/> 
<a href="{{url}}" target="_blank"></a>
Accept invitation
<br/>
If you are having trouble with the button above, copy and paste the URL below directly into your web browser:
<br/>
{{url}}
