Welcome to Swetrix Analytics!<br/><br/>
Please verify your account registration.<br/>
Thank you for registration at swetrix.com.<br/><br/>
We provide an advanced and customisable analytics service for your web applications.<br/>
Track every metric you need without invading your users privacy.<br/><br/>
<a href="{{url}}">Verify registration</a><br/><br/>
If you’re having trouble with the button above, copy and paste the URL below directly into your web browser:<br/>
{{url}}<br/><br/>
If you did not request this email, feel free to ignore it :)
