Hello and welcome to Swetrix! We're excited to have you with us.<br/>
Swetrix is an ethical and powerful web analytics platform that respects your privacy and data.<br/><br/>
To get started, please verify your email address by clicking the link below:<br/>
<a href="{{url}}">Verify registration</a><br/><br/>
If you’re having trouble with the link above, copy and paste the URL below directly into your web browser:<br/>
{{url}}<br/><br/>
If you did not request this email, feel free to ignore it :)
