A Swetrix user offers to transfer {{name}} project to your account.
<br/>
<!-- Hey!<br/><br/>     --> Hey!<br/><br/>    
A Swetrix user has offers a transfer of the {{name}} project to your account.<br/>
If you accept the invitation, this project well be transferred to your account and the previous owner will be added as an administator (you will be able to edit project admins and viewers in the project settings).
<br/>
<a href="{{confirmUrl}}" target="_blank">
<br/>
Accept transfer
<br/>
Decline transfer
<br/>
<a href="{{cancelUrl}}" target="_blank">
<br/>
If you are having trouble with the button above, copy and paste the URL below directly into your web browser to accept transfer:
<br/>
{{confirmUrl}}
<br/><br/>
Or copy and paste the URL below directly into your web browser to decline transfer:
<br/>
{{cancelUrl}}
