Your {{#ifEquals type "w"}}Weekly{{/ifEquals}}{{#ifEquals type "M"}}Monthly{{/ifEquals}}{{#ifEquals type "Q"}}Quarterly{{/ifEquals}} Report
<br/>
For {{date}} period
{{#each projects}}
{{name}}
Unique visitors: {{data.thisWeekUnique}} ({{#greater data.percChangeUnique 0}}+{{data.percChangeUnique}}%{{else}}{{data.percChangeUnique}}%{{/greater}})
<br/>
Pageviews: {{data.thisWeek}} ({{#greater data.percChange 0}}+{{data.percChange}}%{{else}}{{data.percChange}}%{{/greater}}
<br/>
{{/each}}
{{tip}}
You can manage email reports preferences in your <a href="https://swetrix.com/settings" target="_blank">account settings</a>.
