First of all, thank you for using Swetrix!
<br/>
You have used more than {{amount}}% of the available events per your tier for this month, that's a lot of traffic, congratulations!
<br/>
That means that in case you use 100% of the available events until the end of the month, all the subsequent traffic will not be saved.
<br/>
To avoid this we recommend that you upgrade your tier on the Billing page.
<br/>
<br/>
<a href="{{url}}" target="_blank">Upgrade</a>
<br/>
<br/>
Please reply back to this email in case you have any questions or need assistance.
