You are running out of available events to track
<br/>
First of all, thank you for using Swetrix!
<br/><br />
You have used more than {{amount}}% of the available events per your tier for this month.
<br/>
That's a lot of traffic, congratulations!
<br/><br />
That means that in case you use 100% of the available events until the end of the month, all the subsequent traffic will not be saved.
<br/>
To avoid this we recommend that you upgrade your tier on the Billing page.
<br/>
<br/>
<a href="{{url}}" target="_blank">Upgrade</a>
<br/>
<br/>
You can reply back to this email in case you have any questions!
