@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.label {
  text-overflow: clip;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
}

.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.hoverable {
  transition: opacity 300ms;
}

.hoverable:hover {
  opacity: 0.75;
}
