body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner-lg {
  width: 4rem !important;
  height: 4rem !important;
}

.btn-hover {
  transition: opacity .15s ease-in-out;
}

.btn-hover:hover {
  opacity: 0.6;
}

.w31-5 {
  width: 31.5% !important;
}