name: Fly Deploy

on:
  push:
    branches:
      - main
    paths:
      - "web/**"

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        working-directory: web
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
